:root {
    --black-color: #1B1C20;
    --blue-color: #3A8DEF;
    --white-color: #fff;
    --white-color-50: #8D8D8F;
    --white-color-30: #646567; 
}

body {
    background-color: var(--black-color);
    font-family: 'Google Sans';
    color: var(--white-color)
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
.header {
    
}
.header__logo {
    margin: 37px 0;
    font-weight: 500;
    font-size: 36px;
}
.body {
    max-width: 855px;
    margin: 100px auto 0 auto;
}
.body__about {
    
}
.body__name {
    font-size: 128px;
}
.body__description {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.8em;
}
.body__form {
    margin-top: 24px;
}
.body__textarea {
    display: flex;
    gap: 15px;
}
.body__input-text {
    flex: 1;
    font-size: 24px;
    padding: 20px 18px;
    background-color: var(--black-color);
    border: solid 0.5px var(--white-color-50);
    border-radius: 10px;
    color: var(--white-color-30)
}
.body__button-text {
    padding: 16.5px 16.5px;
    background-color: var(--blue-color);
    border-radius: 10px;
}
.body__button-text img {
    height: 37px;
    filter: invert(100%);
}
.body__result {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: justify;
    color: var(--white-color-30);
    margin-top: 60px;
    height: 160px;
}
.footer {
    text-align: center;
    margin-top: 100px;
}
.footer__contribute {
    color: var(--white-color-30);
    margin: 37px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}

.footer__contribute a {
    color: var(--white-color-30);
    text-decoration: underline;
}